<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="main_block">
  <h1>alio.</h1>
  <button ion-button (click)="clickToTimes">Check Times</button>
  <p>or</p>
  <button ion-button color="secondary">Do it manually</button>
</div>
</ion-content>

<ion-footer>
    <p>beta.</p>
</ion-footer>
